{% set title = 'Our Story'%}
{% extends "base.twig" %}
{% block content %}
<div class="container">
    <h3 class="page-heading">
        Ons Storie
    </h3>

    <img class="rounded d-md-none d-block our-story-img w-100 mb-3" src="{{data.ourStoryImg}}" alt=""
         style="min-width: 324px;">

    <p class="our-story-text" style="text-align: justify-all;">
        <img class="rounded d-none d-md-block" src="{{data.ourStoryImg}}"  height="400px" alt="" style="
        float: right;
        min-height: 400px;
        height: 80vh;
        margin-left: 15px;">
        {{ data.ourStory | raw }}
    </p>
</div>

{% endblock %}
